<h1>Artículos que coinciden con la búsqueda <%= params[:search] %></h1>

<% if @items.present? %>
  <% @items.each do |item| %>
  	<p>
  	<%= link_to item.title, item_path(item) %>
  	</p>
  <% end %>
<% else %>
  <p>No se consiguieron artículos <%= params[:search] %>.</p>
<% end %>

